<nz-layout>
    <nz-header class="am-header">
        <img src="/assets/images/logo.png" />
        <!--
        <app-notification></app-notification>
        <span class="version">{{version}}</span>
        -->

        <a nz-dropdown class="user-menu" [nzDropdownMenu]="menu">
            John Doe
            <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
                <li nz-menu-item (click)="logout()">Logout</li>
            </ul>
        </nz-dropdown-menu>

        <nz-select (ngModelChange)="languageChange($event)" [ngModel]="language" class="language-select">
            <nz-option nzValue="en" nzLabel="English"></nz-option>
            <nz-option nzValue="de" nzLabel="German"></nz-option>
        </nz-select>
    </nz-header>

    <nz-layout class="am-layout">
        <nz-sider [nzWidth]="width" class="am-sider">
            <!--
            <div class="logo">
                <img src="./assets/images/logo.png" />
            </div>
            -->
            <ul nz-menu [nzMode]="'inline'">
                <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: false}">
                    <a routerLink="/dashboard"><span class="nav-text">Dashboard</span></a>
                </li>
                <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: false}">
                    <a routerLink="/products"><span class="nav-text">Products</span></a>
                </li>
                <!--
                <li appHasPermission [hasPermission]="viewProductsListPerm" [hideAttr]="true" [userPermissions]="userService.currentUserPermissions" nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/activate-providers"><span class="nav-text">Activate Providers</span></a>
                </li>
                <li nz-menu-item>
                    <a (click)="logout()"><span class="nav-text">Logout</span></a>
                </li>
                -->
            </ul>
        </nz-sider>

        <nz-content class="am-content">
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</nz-layout>